body {
  background-color: #f8fced;
  font-size:1.1em;

}
.main {
  /*background-color:#e0f7a6;*/
  padding-top: 10pt;
  padding-bottom: 20pt;
  padding-left: 20pt;
  margin: auto 10%;
}
span {
  font-size: 1.2em;
  font-weight:bold;
}
img {
  padding-right: 10pt;
  height: 100px;
}
.remove {
  display:none;
}
.final_image {
  height: 300px;
}
